<template name="player_buildableList">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container form-horizontal">
            <div class="table">
                <div class="row">
                    <h2>Inventory</h2>
                    <div class="col-md-3">
                        <select class="chosen-select showFilter">
                            <option value="all">Show All</option>
                            <option value="need">Show Need</option>
                        </select>
                    </div>
                    <div class="col-md-3">Group by:
                        <select class="showOrder chosen-select">
                            <option value="resources">Resources First</option>
                            <option value="alphabetical">Alphabetical</option>
                            <option value="building">Buildings</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button id="saveInventory">Save Inventory</button>
                        <button id="clearInventory">Clear Inventory</button>
                    </div>
                </div>
                {{#each buildables}}
                    <div class="row">
                        <div class="col-md-1">Have: <input type="number" size="4" class="inventoryHave form-control" data-inputfield="{{this.displayName}}" data-inventory-key="{{this}}" value="{{inventoryItemValue}}"></div>
                        <div class="col-md-3">{{this}} (Built By: {{buildings this }}) {{buildableNeededForCamp this}}</div>
                        <div class="col-md-3">
                        {{#with buildPlan}}
                        <div>
                            {{#each buildOrders}}
                                <div>Duration: {{buildTime}}</div>
                                <div></div>
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</template>
