<template name="player_buildPlan">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label for="buildPlanDisplayName">Build Plan</label><input name="displayName" data-inputfield placeholder="Easy to remember name">
                    <button class="createNewBuildPlan">New</button>
                    {{#each currentPlayerBuildPlans}}
                    <!-- TODO: how to do drag/drop reordering -->
                    <br>
                    <a href="{{pathFor 'player_buildPlan' buildPlanId=id}}">{{displayName}} {{id}}</a><br>
                    {{createdAt}}<br>
                    {{/each}}
                </div>

                <div class="col-md-9">
                    {{#if selectedBuildOrder}} {{#with selectedBuildOrder}}
                    {{id}}
                    {{displayName}}
                    <hr>
                    I need to build
                    <input type="number" name="quantity" data-inputfield > of
                    <select name="buildable" data-inputfield>
                        {{#each buildables}}
                        <option value="{{dbCode}}">{{displayName}}</option>
                        {{/each}}
                    </select>
                    <button class="addToBuildInventory">Add</button>
                    <hr>
                    {{#each buildOrderItem}}
                    {{/each}}
                    {{/with}}
                    {{else}}
                    Build Plans are a set of items that you would like to plan to build.
                    {{/if}}
                </div>
            </div>

        </div>
    </section>
</template>