<template name="player_planByBuildings">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container">
            <table class="table table-stripped">
                <tbody>
                {{#each buildings}}
                <tr>
                    <td>{{displayNameName}}</td>
                    <td>{{buildingNow}} <button>Built</button></td>
                    <td>{{#each buildOrder}}{{/each}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
    <!--<div>Return at : tuesday ,</div>-->
    <!--<div class="table">-->
    <!--{{#each buildings}}-->
        <!--<div class="table-row">-->
            <!--<div class="table-col">In progress: {{inProgress}} Scheduled to be completed at __:__ ( in +hrs +min adjust)  <button class="completed">Completed</button></div>-->
            <!--<div class="table-col">Next: {{nextItem}}</div>-->
            <!--<div class="table-col">Begin: {{time}}</div>-->
        <!--</div>-->
    <!--{{/each}}-->
        </div>
    </section>
</template>