<head>
  <title>Game Of Thrones Builder</title>
</head>

<body>
    <h2>Inventory</h2>
    {{>buildableList}}
</body>

<template name="buildableList">
    <button class="showNeed">Show Need</button>
    <button class="showAll">Show All</button>
    <div class="table">
        {{#each terminalBuildables}}
        {{>inventoryItem this}}
        {{/each}}
    </div>
    <div class="table">
        {{#each allBuildables}}
            {{>inventoryItem this}}
        {{/each}}
    </div>

</template>
