<template name="alliance_camp">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container form-horizontal">
            <div class="row col-md-4">
                {{#if allianceOfficer}}
                <select>
                    {{#each availableCampLocations}}
                    <option value="{{dbCode}}">{{displayName}} ({{campRegion.displayName}})</option>
                    {{/each}}
                </select>
                <button class="buildCamp">Build Camp</button>
                {{/if}}
                <table class="table table-striped">
                    <tbody>
                    {{#each camps}}
                        <tr>
                            <td>{{campRegion}}&nbsp;{{currentLevel}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{#if selectedCamp}}
            <div class="row col-md-8">

            </div>
            {{/if}}
        </div>
    </section>
</template>