<template name="alliance_camp">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container form-horizontal">
            <div class="row col-md-4">
                {{#if allianceOfficer}}
                <div>
                <select>
                    {{#each availableLocationsForAlliance}}
                    <option value="{{dbCode}}">{{displayName}} ({{campRegion.displayName}})</option>
                    {{/each}}
                </select>
                <button class="buildCamp btn mbm btn-success">Build Camp</button>
                </div>
                {{/if}}
                <table class="table table-striped">
                    <tbody>
                    {{#each allianceCamps}}
                        <tr>
                            <td>
                                <a href="{{pathFor 'alliance_camp' allianceId=allianceId campId=id}}">{{displayName}}
                                    {{campLocation}} ({{campLocation.campRegion.displayName}})&nbsp;{{skillSpecialization}}&nbsp;{{currentLevel}}</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{#if selectedCamp}}
            <div class="row col-md-8">
                {{> camp_fullDetail camp=selectedCamp allianceOfficer=allianceOfficer}}
            </div>
            {{/if}}
        </div>
    </section>
</template>