<template name="alliance_inventory">
    <section>
        {{#with selectedAlliance}}
        <div class="container form-horizontal">
            <h2>{{displayName}}</h2>
            <div class="table">
                {{#each buildables}}
                <div class="row">
                    <div class="table-cell">{{displayName}}</div><div class="table-cell">{{total}}</div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>
</template>