<template name="alliance_inventory">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        <div class="container form-horizontal">
            <h2>{{alliance.displayName}}</h2>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th>Item</th>
                        <th>Total Needed</th>
                        <th>Needed From Everyone</th>
                    {{#each alliancePlayersInventory}}
                        <th>{{alliancePlayerDisplayName}}</th>
                    {{/each}}
                </tr></thead>
                <tbody>
                {{#each arrayify allianceNeeds}}
                {{debugTemplateHere}}
                <tr class="row"> 
                    <td>{{storableDisplayName}}</td>
                    <td>{{value}}</td>
                    <td>{{perPlayerNeeds}}</td>
                    {{#each templateData 'alliancePlayersInventory'}}
                    <td>{{playerInventory ../key}}</td>
                    {{/each}}
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</template>
