<template name="alliance_players">
    <nav class="navbar"><!-- spacer--></nav>
    <section>
        {{#with selectedAlliance}}
        <div class="container form-horizontal">
            <h2>{{displayName}}</h2>
            <table class="table table-striped">
                <thead>
                    <tr><td>Character Name</td><td>Role</td></tr>
                </thead>
                <tbody>
                    {{#each players}}
                    <tr>
                        <td>{{characterFirstName}}&nbsp;{{characterLastName}}</td>
                        {{#if this.allianceOfficer}}
                        <td><select name="allianceRole">{{#each AllianceRole}}<option value="{{this.dbCode}}">{{this.displayName}}</option>{{/each}}</select></td>
                        {{else}}
                        <td>{{allianceRole.displayName}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/with}}
    </section>
</template>