<template name="buildableList">
    <h2>Inventory</h2>
    <select class="chosen-select showFilter">
        <option value="all">Show All</option>
        <option value="need">Show Need</option>
    </select>
    <select class="showOrder chosen-select">
        <option value="resources">Resources First</option>
        <option value="alphabetical">Alphabetical</option>
    </select>
    <input class="depth">

    <div class="table">
        {{#each allBuildables}}
            {{>inventoryItem this}}
        {{/each}}
    </div>

</template>
