/* CSS declarations go here */
.table {
    display:table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display : table-cell;
}

.gota_h1 {
    margin-bottom: 0px;
}

.gota_login {
    float: right;
}
.saveChanges:before {
    content: "Save Changes";
}
/*
.userChanged:after {
    content: "(changed)";
}
*/