<template name="camp_fullDetail">
    <div>
        <form>
            <input type="hidden" value="{{id}}" name="campId" data-inputfield>

            {{#if this.allianceOfficer}}
            <div>
                <button class="saveChanges btn mbm btn-success"></button>
                <button class="deleteCamp btn mbm btn-danger">Delete Camp</button>
            </div>
            {{/if}}

            <table>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>
                        {{#if this.allianceOfficer}}
                        <input name="displayName" type="text" value="{{camp.displayName}}" data-inputfield>
                        {{else}}
                        {{camp.displayName}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Location:
                    </td>
                    <td>
                        {{camp.campLocation}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Nature of Camp:
                    </td>
                    <td>
                        {{camp.skillSpecialization}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Camp Level
                    </td>
                    <td>
                        {{#if this.allianceOfficer}}
                        <input name="currentLevel" type="number" value="{{camp.currentLevel}}" data-inputfield>
                        {{else}}
                        {{camp.currentLevel}}
                        {{/if}}
                    </td>
                </tr>
                {{#if this.allianceOfficer}}
                <tr>
                    <td>
                        Officer Only Notes<br><small>(Note: A computer-knowledgeable individual could read the notes)</small>
                    </td>
                    <td>
                        <textarea name="officerOnlyNotes" data-inputfield>{{camp.officerOnlyNotes}}</textarea>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td>
                        Alliance Member Notes
                    </td>
                    <td>
                        {{#if this.allianceOfficer}}
                        <textarea name="allianceMemberNotes" data-inputfield>{{camp.allianceMemberNotes}}</textarea>
                        {{else}}
                        {{camp.allianceMemberNotes}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td>
                        {{#if this.allianceOfficer}}
                        <input name="priority" type="number" data-inputfield value="{{camp.priority}}">
                        {{else}}
                        {{camp.priority}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Ok to garrison</td>
                    <td>
                        {{#if this.allianceOfficer}}
                        <input name="garrison" type="checkbox" {{radioChecked camp.garrison true}} data-inputfield>
                        {{else}}
                        {{garrisonDisplay}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Component Needs</td>
                    <td>
                        <table><thead></thead><tbody>
                        {{#each upcomingStorableNeeds}}
                        <tr>
                            {{#each arrayify this}}
                            <td class="mbm">
                                {{#if ../../allianceOfficer}}
                                {{>storable_selection quantity=value selectedStorable=storable storableKey='fff' storables=Storables}}
                                {{else}}
                                {{value}}
                                {{storable.displayName}}
                                {{/if}}
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                        </tbody></table>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</template>