<template name="inventoryItem">
    {{#if show}}
    <div class="table-row row">
        <div class="table-cell col-md-3">Have: <input type="number" size="4" name="have" class="inventoryHave" data-inventory-key="{{this}}" value="{{value}}"></div>
        <!--<div class="table-cell col-md-3">Want: <input type="number" size="4" name="want" class="inventoryWant"></div>-->
        <!--<div class="table-cell col-md-3">Need: {{buildit this }}</div>-->
        <div class="table-cell col-md-3">{{remove_ this}}
            (Built By: {{buildings this }}) ({{storableNeededForCamp this}})
        </div>
    </div>
    {{/if}}
</template>